:root { 
--blue_A400:#2c7ef8; 
--red_600:#f82c2c; 
--pink_900:#8b1325; 
--amber_500_01:#fbbc04; 
--blue_A200:#4285f4; 
--red_500:#ea4335; 
--green_600:#34a853; 
--gray_50:#f9f9f9; 
--amber_A400:#ffc000; 
--green_500:#59ae43; 
--light_blue_800:#006fcf; 
--teal_300:#5bb59a; 
--black_900:#000000; 
--light_green_500:#85bf55; 
--gray_500_01:#969696; 
--blue_gray_800:#37465a; 
--blue_gray_700:#4d5254; 
--blue_gray_900_01:#333333; 
--blue_50_01:#edf3fc; 
--deep_purple_A400:#5a31f4; 
--blue_gray_900:#252f3d; 
--red_A700:#eb001b; 
--gray_700:#696969; 
--gray_500:#999999; 
--blue_gray_100:#cfcfcf; 
--blue_700:#3086c8; 
--amber_500:#feb511; 
--orange_A700:#ff5f00; 
--gray_300:#e4e4e4; 
--gray_100: '#FAFAF9';
--blue_50:#e3edff; 
--indigo_900_01:#003087; 
--indigo_900_02:#012169; 
--indigo_900:#142688; 
--white_A700:#ffffff; 
--gray_700_01:#5f6368; 
}