
@tailwind base;
@tailwind components;
@tailwind utilities;


[type='radio']:checked, [type='radio']:checked:hover{
  background-image: url('../../public/images/img_radio_btn.svg');
  background-color: #E3EEFF;
  border-color: #E3EEFF;
}


.text-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.slider-content {
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
}